rabbitmq:
  switchFlag: false
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5
